.Accumulate {
  color: #315deed0;
  font-size: 26px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-content: center;
}
.Statistic {
  font-size: 26px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-content: center;
}
.a {
  display: flex;
  justify-content: center;
  align-content: center;
}
